@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
@import url('https://i.pinimg.com/originals/e0/bd/18/e0bd18efa4166062451f9b1105e5d8f7.jpg');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  /* background-color: #ffffff; */
  background-image: url("https://i.pinimg.com/originals/e0/bd/18/e0bd18efa4166062451f9b1105e5d8f7.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
}

